@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;
  background: url("./images/textures/norwegian_rose.png");
  background-position: center; }

* {
  transition: all .3s ease-out; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: Pointer; }
  a:hover {
    color: #3d64ff; }

button, .button, input[type="submit"] {
  display: inline-block;
  border: none;
  padding: 0 10px;
  margin: 2px;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer; }
  button:hover, .button:hover, input[type="submit"]:hover {
    background-color: #37beff; }
  button .fa, .button .fa, input[type="submit"] .fa {
    margin-right: 4px; }

.about {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  padding: 0px;
  border-radius: 5px; }
  .about .avatar {
    height: 40px; }
    .about .avatar img {
      transform: translate(0, -120px);
      display: block;
      margin: auto;
      margin-bottom: 10px;
      width: 150px;
      height: 150px;
      max-width: 80%;
      /*border: 2px solid #000000;*/
      border-radius: 1000px;
      padding: 3px;
      box-shadow: black 0 0 5px; }
  .about .name {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px; }
  .about .subname {
    display: block;
    /*&:not(:last-child):after {
      display: inline-block;
      width: 30px;
      content: "";//•
    }*/
    font-size: 1.4em; }
    .about .subname img {
      display: inline-block;
      margin-left: 4px;
      vertical-align: bottom;
      height: 1em; }

.contacts {
  height: 70px; }
  .contacts .inner {
    background-color: rgba(0, 0, 0, 0.06);
    width: 100%;
    position: absolute;
    bottom: 0; }
    .contacts .inner a {
      display: inline-block;
      font-size: 30px;
      margin: 10px;
      /*&:hover{
        color: #3d64ff;
      }*/ }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
  width: 504px;
  min-height: 280px;
  background-color: #ffffff;
  text-align: center; }

@media screen and (max-width: 520px), screen and (max-height: 500px) {
  .card {
    top: 130px;
    left: 0px;
    width: 100vw;
    min-height: calc( 100vh - 130px);
    transform: translate(0, 0); } }
