/*
$timeline-width: 504px;
$card-width: 180px;

$card-project-line-inner-padding: 30px;

$card-line-outer-width: 350px;
$card-line-outer-inner-offset: 50px;

$article-width: 704px;

*/
body {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: url(/images/openalt-2018.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black; }

* {
  transition: all 0.2s ease-out; }

a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.397);
  outline: 0;
  /*&:visited {
        color: white;
    }*/ }
  a:hover {
    color: white; }

.fas {
  margin-left: 0.5em;
  margin-right: 0.5em; }

form {
  display: block; }
  form input {
    padding: 10px;
    margin: 0px;
    font-size: 1.1rem;
    border: none;
    border: 1px solid #777;
    box-shadow: #777 0 0 5px;
    text-align: center;
    background-color: white; }
  form input[type='submit'] {
    cursor: pointer; }
    form input[type='submit']:hover {
      color: white;
      background-color: #334477;
      border: 1px solid #334477;
      box-shadow: #334477 0 0 15px; }

.vcard {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50vw;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, transparent, black); }
  .vcard .inner {
    display: inline-block;
    width: 400px;
    max-width: 100%;
    padding: 15px;
    margin: 15px;
    background: linear-gradient(90deg, white, #ffe0a5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    .vcard .inner .avatar {
      display: none; }
      .vcard .inner .avatar img {
        display: inline-block;
        width: 125px;
        height: 125px;
        max-width: 80%;
        border-radius: 1000px;
        box-shadow: rgba(255, 255, 255, 0.363) 0 0 3px;
        padding: 3px;
        margin: auto;
        margin-bottom: 12px; }
    .vcard .inner h1.name {
      display: block;
      text-decoration: none;
      font-size: 3rem;
      margin-top: 10px;
      margin-bottom: 8px; }
    .vcard .inner .contacts {
      text-align: center; }
      .vcard .inner .contacts a {
        display: inline-block;
        font-size: 27px;
        text-decoration: none;
        margin: 8px;
        /*&:hover{
            color: #3d64ff;
          }*/ }
    .vcard .inner .about {
      text-align: justify;
      font-size: 1.2rem; }

@media only screen and (max-width: 1000px) {
  .vcard {
    display: block;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.548), black);
    left: 0;
    padding: 10vw; }
    .vcard .inner {
      margin: 0;
      margin-top: 30px;
      width: calc(100% - 25px); }
      .vcard .inner .avatar {
        display: block; }
      .vcard .inner .about {
        text-align: left; } }

@media only screen and (min-width: 1300px) {
  h1.name {
    font-size: 3.9rem !important; }
  .about {
    font-size: 1.4rem !important; } }
