div.about(itemscope='', itemtype='http://schema.org/Person')
    .avatar
        img(itemprop='image', src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm', alt='Pavol Hejný')
    h1.name(itemprop='name') Pavol Hejný
    .subname(itemprop='jobTitle') Web app developer
        img(src='./images/logos/firefox.png', alt='firefox')
    .subname(itemprop='jobTitle') Game developer
        img(src='./images/logos/games.png', alt='games')
    .subname(itemprop='jobTitle') Fractal artist
        img(src='./images/logos/mandelbrot.png', alt='mandelbrot')
    .subname(itemprop='jobTitle') Crypto lover
        img(src='./images/logos/bitcoin.png', alt='bitcoin')
        img(src='./images/logos/ethereum.png', alt='ethereum')
    //.subname(itemprop='jobTitle') Prague
    //.subname(itemprop='jobTitle') Painting🖌🖍