div.about(itemscope='', itemtype='http://schema.org/Person')
    img.avatar(itemprop='image', src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm', alt='Pavol Hejný')
    h1.name(itemprop='name') Pavol Hejný
    .subname(itemprop='jobTitle') Web app developer
    .subname(itemprop='jobTitle') Game developer
    .subname(itemprop='jobTitle') Fractal
    .subname(itemprop='jobTitle') Crypto
    .subname(itemprop='jobTitle') Prague
    .subname(itemprop='jobTitle') Painting