doctype html
//
  (cc) Pavol Hejný
  https://github.com/hejny/pavolhejny
html(lang='en')
    include ./head
    body

        .layer.layer1#featured-image-mirror
          div(style=`background:url('${article.featuredImages.back}');background-size:cover;`)
        .layer.layer2
          include ./vcard

          main.article
            .inner
              a.button(href='/')
                button Home
              :verbatim
                !{article.content}
