meta(charset='UTF-8')/
meta(name='copyright', content='Pavol Hejný')/
meta(name='language', content='en-US')/
meta(name='author', content='Pavol Hejný, me@pavolhejny.com')/
meta(name='reply-to', content='me@pavolhejny.com')/
meta(name='owner', content='Pavol Hejný')/
meta(name='viewport', content='width=device-width, initial-scale=1')/


meta(property='og:site_name', content='Pavol Hejný')/
meta(property='og:locale', content='en_US')/
meta(property='fb:admins', content='hejny')/
meta(property='fb:app_id', content='179993545901102')/

link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed')/
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')/
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css')/



meta(charset='utf-8')
link(rel='shortcut icon', href='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=64&r=pg&d=mm ?>')/
include ./analytics


script(type='application/ld+json').
    {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Pavol Hejný",
        "image": "https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm",
        "jobTitle": "Web app developer",
        "telephone": "+420 774 080 996",
        "url": "https://www.pavolhejny.com",
        "sameAs": [
        "https://github.com/hejny/",
        "http://www.facebook.com/hejny",
        "http://instagram.com/pavolhejny",
        "http://www.linkedin.com/in/hejny"
        ]
    }