doctype html
//
  (cc) Pavol Hejný
  https://github.com/hejny/pavolhejny
html(lang='en')
    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#')
      title Pavol Hejný
      link(rel='stylesheet', href='/index.css')/
      include ./head

    body
        .layer.layer2
          include ./vcard
