doctype html
//
  (cc) Pavol Hejný
  https://github.com/hejny/pavolhejny
html(lang='en')
    include ./head
    body
        .layer.layer1.generated-noise
        .layer.layer2#featured-image-mirror(style=`background:url('/images/default-background.jpg');background-size:cover;`)
        .layer.layer3
          include ./vcard
          include ./timeline