doctype html
//
  (cc) Pavol Hejný
  https://github.com/hejny/pavolhejny
html(lang='en')
    include ./head.jade
    body
        #root
            div.personal-web
                include ./about.jade
                include ./contacts.jade
                include ./content.jade


                footer
                    button Write me!
                    div Copyleft (cc) Pavol Hejný
