doctype html
//
  (cc) Pavol Hejný
  https://github.com/hejny/pavolhejny
html(lang='en')
    include ./head.jade
    body
        main.card
            //include ./about.jade
            //include ./contacts.jade
