doctype html
//
  (cc) Pavol Hejný
  https://github.com/hejny/pavolhejny
html(lang='en')
  head
    meta(charset='UTF-8')
    title Pavol Hejný
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/dist/personal-web.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css')
    link(rel='shortcut icon', href='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=64&r=pg&d=mm ?>')
    script.
      (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-70710834-1', 'auto');
      ga('send', 'pageview');
    script(src='/dist/browser.min.js', async='')
  body
    #root
      div
        .personal-web
          .profile(itemscope='', itemtype='http://schema.org/Person')
            img.avatar(itemprop='image', src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm', alt='Pavol Hejný')
            h1.name(itemprop='name') Pavol Hejný
            .subname(itemprop='jobTitle') Web app developer
          div
            article.about
              .contacts
                a(href='mailto:me@pavolhejny.com', target='_blank', title='Email')
                  i.icon-envelope.icons
                a(href='https://github.com/hejny/', target='_blank', title='Github')
                  i.icon-social-github.icons
                a(href='https://www.facebook.com/hejny', target='_blank', title='Facebook')
                  i.icon-social-facebook.icons
                a(href='https://www.linkedin.com/profile/view?id=AAMAABL-alkBCN2nJuDO_lhg0Pg0H47UcYbeYgM&trk=hp-identity-photo', target='_blank', title='LinkedIn')
                  i.icon-social-linkedin.icons
                a(href='/media/data/pavol.hejny.vcf', target='_blank', title='VCard')
                  i.icon-credit-card.icons
              .about_text(itemprop='description')
                | I work in a family business where I am creating an
                | interactive electronic
                | version of
                a(href='http://www.h-mat.cz/', target='_blank')  math textbooks
                | .
                |                         I'm very interested in 3D graphics on the web and I'm looking for ways
                |                         to use it I also have a lot of
                a(href='https://www.pavolhejny.com/en/filter/PROJECT+APP+GAME')
                  | my
                  | own projects
                | .
                |                         For example
                a(href='https://www.pavolhejny.com/en/webappgames.com') WebAppGames.com
                |                         or
                a(href='https://www.pavolhejny.com/en/veze') my own board game
                | .
            div
              h2
              div
                button
                  span.fa.fa-home(aria-hidden='true')
                  | Back
                ul.items
                  a(href='http://todotable.com', target='_blank')
                    li.item
                      div
                        h3 TodoTable.com
                        .type.MINI_WEB_APP
                          | Mini-web app
                          span.fa.fa-external-link(aria-hidden='true')
                  a(href='https://hejny.github.io/crypto-poll/', target='_blank')
                    li.item
                      div
                        h3 Crypto poll
                        .type.MINI_WEB_APP
                          | Mini-web app
                          span.fa.fa-external-link(aria-hidden='true')
                  li.item
                    div
                      h3 3D on the web
                      .type.PROJECT Projekt
                  li.item
                    div
                      h3 Logic
                      .type.WEB_GAME Web game
                  li.item
                    div
                      h3 Towns
                      .type.WEB_GAME_S Web games
                  li.item
                    div
                      h3 Towers
                      .type.BOARD_GAME Board game
                  li.item
                    div
                      h3 Fractals
                      .type.PROJECT Projekt
                  a(href='https://play.google.com/store/apps/details?id=czavif.httpbirds.avifmobile', target='_blank')
                    li.item
                      div
                        h3 Avif Mobile
                        .type.MOBILE_APP
                          | Mobile app
                          span.fa.fa-external-link(aria-hidden='true')
                  a(href='http://birds.cz', target='_blank')
                    li.item
                      div
                        h3 Avif
                        .type.WEB_APP
                          | Web app
                          span.fa.fa-external-link(aria-hidden='true')
                  a(href='http://hry.birds.cz', target='_blank')
                    li.item
                      div
                        h3 Birds in cities
                        .type.WEB_GAME
                          | Web game
                          span.fa.fa-external-link(aria-hidden='true')
                  a(href='https://www.h-edu.cz/', target='_blank')
                    li.item
                      div
                        h3 H-Edu
                        .type.WEB_APP
                          | Web app
                          span.fa.fa-external-link(aria-hidden='true')
                  li.item
                    div
                      h3 Passwords
                      div 7/8/2017
                      .type.TALK Talk at LŠ Pythagoras
                  li.item
                    div
                      h3 React+Redux
                      div 3/31/2017
                      .type.TALK Talk at ITNetwork
                  li.item
                    div
                      h3 Generating 2D graphics on web
                      div 6/24/2016
                      .type.TALK Talk at ITNetwork
                  li.item
                    div
                      h3 Web applications in JavaScript
                      div 5/27/2016
                      .type.TALK Talk at ITNetwork
