

div.timeline

    mixin project(name)
        li.card.project
            .line
                .label-above 2018 - 2016
            .circle
            .inner
                .arrow
                h3.name= name
                h4.subname
                    span.meta /^
                    span.text project
                    span.meta $/

    mixin event(name, content)
        li.card.event
            .line
            .circle
            .inner
                .arrow
                h3.name= name
                h4.subname
                    span.meta /^
                    span.text hackathon
                    span.meta $/
                p.content= content


    mixin year(year)
        .circle
            .label= year
        .empty


    ul.clear.events
        //.empty-todo-remove-this-hack
        .line
        +year(2018)
        +project('H-Edu')
        +event(
            'Kóduj pro Česko',
            'div popis'
        )
        +event('JobsDev')
        +event('StartupWeekend Plzeň')
        +project('H-Edu')
        +event('StartupWeekend Olomouc')
        +project('H-Edu')
        +year(2017)
        +event('Kóduj pro Česko')
        +event('JobsDev')
        +event('StartupWeekend Plzeň')
        +event('StartupWeekend Olomouc')
        +event('StartupWeekend Olomouc vvvvvvvvvvvvv')