

div.timeline




    mixin item(name,featuredImageInner,featuredImageOuter,innerSkeletonLabel)
        a(href="/article1")
            li.card.project.selectable(data-featured-image= featuredImageOuter)

                if innerSkeletonLabel
                    .skeleton-inner-with-label
                        .line
                            .label-above 2018 - 2016
                        .circle
                else
                    .skeleton-inner
                        .line
                        .circle

                .skeleton-outer
                    .line
                        .circle
                        .label-above
                            h1.name= name
                            h2.subname
                                span.meta /^
                                span.text project
                                span.meta $/
                        .label-bellow 
                            
                            span ahoj
                            //span.time 2018-06-02
                            //ul.participants
                                li Ahoj Ahoj
                                li Ahoj Ahoj
                                li Ahoj Ahoj
                            //p.abstract Vytvořili jsme volební kalkulačku offline. Je to perfektní nástroj na přinesení diskuse o politických tématech na veřejná místa...


                .inner(style=`background-image:url(/images/events/${featuredImageInner}.jpg);background-size: cover;background-position: center;`)
                    .arrow
                    h3.name= name


    mixin year(year)
        .circle
            .label= year
        .empty


    ul.clear.events
        //.empty-todo-remove-this-hack
        .line
        +year(2018)
        +item(
            'Kóduj pro Česko',
            '33692658_10155680999023590_4747848035172614144_n',
            '33692658_10155680999023590_4747848035172614144_n',
             null
        )
        +item(
            'Kóduj pro Česko',
            '33692658_10155680999023590_4747848035172614144_n',
            '33692658_10155680999023590_4747848035172614144_n',
            '2015 - 2017'

        )
        +item(
            'Kóduj pro Česko',
            '33692658_10155680999023590_4747848035172614144_n',
            '33692658_10155680999023590_4747848035172614144_n',
            '2015 - 2017'

        )
        +item(
            'Kóduj pro Česko',
            '33692658_10155680999023590_4747848035172614144_n',
            '33692658_10155680999023590_4747848035172614144_n',
            null

        )

