

div.timeline



    //h3 Projekty

    mixin project(name)
        li.card.project
            .line
                .label-above 2018 - 2016
            .circle
            .inner
                .arrow
                h3.name= name
                h4.subname
                    span.meta /^
                    span.text project
                    span.meta $/

    //ul.clear.projects
        +project('H-Edu')
        +project('ITNetwork')
        .line
            .label-above Current
            .label-bellow Past
        .empty
        +project('Towns')
        +project('Birds.cz')
        //+project('StartupWeekend Olomouc vvvvvvvvvvvvv')
    


    mixin event(name, content)
        li.card.event
            .line
            .circle
            .inner
                .arrow
                h3.name= name
                h4.subname
                    span.meta /^
                    span.text hackathon
                    span.meta $/
                p.content= content


    ul.clear.events
        .line
        .circle
            .label 2018
        +project('H-Edu')
        +event(
            'Kóduj pro Česko',
            'div popis'
        )
        +event('JobsDev')
        +event('StartupWeekend Plzeň')
        +project('H-Edu')
        +event('StartupWeekend Olomouc')
        +event('StartupWeekend Olomouc vvvvvvvvvvvvv')
        .circle
            .label 2018
        .empty
        +event('Kóduj pro Česko')
        +event('JobsDev')
        +event('StartupWeekend Plzeň')
        +event('StartupWeekend Olomouc')
        +event('StartupWeekend Olomouc vvvvvvvvvvvvv')