.vcard
    .inner
        //a.selectable.avatar(href='/',data-featured-image='/images/default-background.jpg')
            img(src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=300&r=pg&d=mm', alt='Pavol Hejný')
        h1.name Pavol Hejný      

        include ./contacts
       
        p I am very interested in new technologies and how we can move the world forward with them. I think we should join the right people, ideas, technologies, and money together to create something BIG. And hackathons are a great opportunity to do it quickly and do not waste the time.
        

        