.vcard-small
    .inner
        a.name(href='/',data-featured-image='/images/default-background.jpg')
            .avatar
                img(src='https://1.gravatar.com/avatar/3d98c15957c5f5dd227e53dbc7cbb60d?s=45&r=pg&d=mm', alt='Pavol Hejný')
            .label Pavol Hejný