

.about {



  display: inline-block;
  text-align: center;
  background-color: transparent;
  padding: 0px;
  border-radius: 5px;

  .avatar {

    height: 40px;

    img{
      transform: translate(0, -120px);

      display: block;
      margin: auto;
      margin-bottom: 10px;

      width: 150px;
      height: 150px;
      max-width: 80%;


      /*border: 2px solid #000000;*/
      border-radius: 1000px;

      padding: 3px;
      box-shadow: black 0 0 5px;
      //border: 2px solid black;
    }


  }

  .name {

    //border: 1px dashed red;

    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;

  }

  .subname {

    display: block;
    //display: inline-block;
    //border: 1px dashed red;

    /*&:not(:last-child):after {
      display: inline-block;
      width: 30px;
      content: "";//•
    }*/



    font-size: 1.4em;


    img/*, .logo*/{
      display: inline-block;
      margin-left: 4px;
      vertical-align: bottom;
      height: 1em;
    }

    //margin: auto;
    //margin-bottom: 20px;

  }

}














