


.about {

  //transition: all 1s ease-in-out;
  * {  transition: all 0.5s ease-in-out;  }


  &.small{

    cursor: pointer;
    //background-color: #37beff;
    //padding: 15px;

    .avatar {
      width: 50px;
    }
    .name {
      font-size: 1rem;
    }

    .subname {
      display: none;
    }
  }



  //border: 1px dashed red;

  display: inline-block;
  text-align: center;
  background-color: transparent;
  padding: 0px;
  border-radius: 5px;

  .avatar {

    //border: 1px dashed red;

    display: block;
    margin: auto;
    margin-bottom: 10px;

    width: 150px;
    max-width: 80%;


    /*border: 2px solid #000000;*/
    border-radius: 1000px;

    padding: 3px;
    box-shadow: black 0 0 5px;
    //border: 2px solid black;

  }

  .name {

    //border: 1px dashed red;

    display: block;
    text-decoration: none;
    font-size: 2rem;
    margin: auto;

  }

  .subname {

    display: inline-block;
    //border: 1px dashed red;

    &:not(:last-child):after {
      display: inline-block;
      width: 30px;
      content: ".";//•
    }



    font-size: 1.4em;

    //margin: auto;
    //margin-bottom: 20px;

  }

}














