.layer1,
.layer2 {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.layer1 {
    z-index: 10;
    background-color: black;

    //background: url('./images/textures/norwegian_rose.black.png');
    //background-color: rgb(67, 68, 150);
    //background-position: center;
    //filter: invert(1) grayscale(20%) brightness(1);

    div.pattern {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background:url('/images/patterns/patt-10.png');
        

        background-position: bottom;
        background-size: 77px;
        background-repeat: repeat;
        //filter: blur(2px) grayscale(20%) brightness(0.3);
        //filter: contrast(40%) grayscale(20%) brightness(30%) ;

        //filter: negative(100%) ;

    }



    div.image {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        //background:url('/content/articles/train-hack/featured.jpg');
        //background:url('/images/featured.jpg');

        //background:url('/images/DSC_1899..jpg');
        background-image: linear-gradient(to bottom, #751 , #123);
       


        background-position: center;
        //background-size: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        //filter: blur(2px) grayscale(20%) brightness(0.3);
        //filter: contrast(40%) grayscale(20%) brightness(30%) ;

    }





}
.layer2 {
    position: absolute;
    width: 100%;
    z-index: 20;
}
