.layer1,
.layer2 {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.layer1 {
    z-index: 10;
    
    
    //background: url('./images/textures/norwegian_rose.png');
    //background-position: center;
    //filter: invert(1) grayscale(20%) brightness(1);
            

    div {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: blur(2px) grayscale(20%) brightness(0.2);

        transition: filter, opacity 300ms linear;
    }


}
.layer2 {
    position: absolute;
    width: 100%;
    z-index: 20;
}
