.card {
    .arrow {
        display: none;
    }
    /*.arrow{

        display: block;
        position: absolute;
        margin-left: calc( 50% - 9px );
        margin-top: calc( 50% - 0px );
        //background-color: $color1;
        //border: 2px solid $color1;
        //box-shadow: $color1 0 0 10px;

        //transform: translate(100%,100%);

        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $color1;
    }*/

    .inner {
        border: 2px solid $color1;
        box-shadow: $color1 0 0 10px;
        text-align: center;
        
        background-color: darken($color1,80%);//transpdaarentize(darken($color1,20%),20%);
        //background: url('./images/textures/norwegian_rose.png');
        //background-position: center;
        color: white;
        padding: 10px;
        cursor: pointer;

        &:hover {
            box-shadow: $color1 0 0 15px;
        }
    }

    /*&:nth-child(odd) {
        .inner {
            &:hover {
                transform: rotate(5deg);
            }
        }
    }
    &:nth-child(even) {
        .inner {
            &:hover {
                transform: rotate(-5deg);
            }
        }
    }*/
}
