$color1: #ff8855;

$highlight-normal: 5px;
$highlight-selected: 15px;

$timeline-width: 504px;
$card-width: 180px;

$card-project-line-inner-padding: 30px;

$card-line-outer-width: 350px;
$card-line-outer-inner-offset: 50px;

$article-width: 704px;

$debug: false;
$debug: true;

//todo maybe
//timeline-circle-size
//item-circle-size
