ul.events{
    //border: 1px dotted green;

    margin-top: 60px;
    margin-bottom: 30px;


    .line{
      display: block;
      position: absolute;
      //left: 150px;
      //top: 50%;
      margin-left: 50%;
      background-color: #008080;
      box-shadow: #008080 0 0 10px;
      width: 2px;
      height: 100%;
    }

    .circle{
      display: block;
      position: absolute;
      margin-left: calc( 50% - 9px );
      margin-top: -20px;
      background-color: #008080;
      //border: 2px solid #008080;
      box-shadow: #008080 0 0 10px;
      width: 20px;
      height: 20px;
      border-radius: 20px;

      .label{
          margin-left: 25px;
          color: #008080;
      }
     
      
    }


    li.event{
      width: 30%;

      .line{
        display: block;
        //position: absolute;
        background-color: #008080;
        box-shadow: #008080 0 0 10px;
        width: 77px;
        height: 2px;
        transform: translate(0,100%);
        //margin-top: 50px; 
      }

      .circle{
        display: block;
        position: absolute;
        
        margin-top: -2px;
        background-color: #008080;
        //border: 2px solid #008080;
        box-shadow: #008080 0 0 10px;
        width: 10px;
        height: 10px;
        border-radius: 10px
      }


      &:nth-child(odd){
        .line{
          margin-left: 163px; 
        }
        .circle{
          margin-left: calc( 50% - 16px );
        }

        
      }

      &:nth-child(even){
        margin-left: calc(504px - 30% - 25px );
        .line{
          margin-left: -87px; 
        }
        .circle{
          margin-left: calc( -15% - 16px );
        }
      }



    }

  }