ul.events {
    //border: 1px dotted red;

    margin-top: 60px;
    margin-bottom: 30px;

    .line {
        display: block;
        position: absolute;
        margin-left: 50%;
        background-color: #008080;
        box-shadow: #008080 0 0 10px;
        width: 2px;
        height: 100%;

        .label-above {
            margin-top: -25px;
            //margin-left: 25px;
            color: #008080;
        }

        .label-bellow {
            margin-top: 15px;
            //margin-left: 25px;
            color: #008080;
        }

        
    }

    .circle {
        display: block;
        position: absolute;
        margin-left: calc(50% - 9px);
        margin-top: -20px;
        background-color: #008080;
        //border: 2px solid #008080;
        box-shadow: #008080 0 0 10px;
        width: 20px;
        height: 20px;
        border-radius: 20px;

        .label {
            margin-left: 25px;
            margin-top: -2px;
            font-size: 1.3em;
            color: #008080;
        }
    }

    .empty{
        height: 30px;
    }

    li.event {
        width: 40%;
        //height: 80px;
        .inner {
            //height: 120px;
            //overflow: hidden;
        }

        .line {
            width: calc(10% + 2px);
            height: 2px;
            margin-top: 50px;
        }

        .circle {
            display: block;
            position: absolute;
            margin-top: 46px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }

        &:nth-child(odd) {
            .line {
                margin-left: calc(40% - 2px);
            }
            .circle {
                margin-left: calc(50% - 4px);
            }
        }

        &:nth-child(even) {
            margin-left: calc(504px - 40% - 2px);
            .line {
                margin-left: calc(-10% - 2px);
            }
            .circle {
                margin-left: calc(-10% - 3px);
            }
        }
    }


    li.project {
        width: 40%;
        //height: 80px;
        .inner {
            //height: 120px;
            //overflow: hidden;
        }

        .line {
            width: calc(50% + 2px);
            height: 2px;
            margin-top: 50px;
        }

        .circle {
            display: block;
            position: absolute;

            margin-top: 46px;
            background-color: #008080;
            //border: 2px solid #008080;
            box-shadow: #008080 0 0 10px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }

        &:nth-child(odd) {
            .line {
                margin-left: calc(40% - 2px);
            }
            .circle {
                margin-left: calc(90% - 4px);
            }
        }

        &:nth-child(even) {
            margin-left: calc(504px - 40% - 2px);
            .line {
                margin-left: calc(-50% - 2px);
            }
            .circle {
                margin-left: calc(-50% - 3px);
            }
        }
    }
}
