

.fb-gallery{



  .popup{


    z-index: 10000;

    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.61);







    .content{

      display: inline-block;
      //width: 50%;
      height: 80vh;
      margin-top: 5vh;

      text-align: center;

      //border: 1px dashed red;




      .toolbar{

        display: block;
        color: white;
        font-size: 1.5rem;


        .previous, .next, .close{

          cursor: pointer;
          display: inline-block;

          margin-left: 20px;
          margin-right: 20px;



        }

        .close{

          float: right;
          //margin-right: 0;

        }


      }




      img{

        z-index: 1;

        display: inline-block;
        //width: 90%;
        //max-width: calc( 100% - 100px);
        max-width: 80%;
        max-height: 100%;
      }






    }






  }





}


