@import 'config';

body {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;

    min-height: 100vh;

    background: url(/images/openalt-2018.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

* {
    transition: all 0.2s ease-out;
}

a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.397);
    outline: 0;
    //cursor: Pointer;

    /*&:visited {
        color: white;
    }*/

    &:hover {
        color: white;
    }
}

@mixin disable-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fas {
    margin-left: 0.5em;
    margin-right: 0.5em;
}



form {

    //border: 1px solid $color1;
    display: block;
    //background-color: aqua;

    -webkit-text-fill-color: white;

    margin-top: 15px;
    margin-bottom: 15px;
    

    input {
        padding: 10px;
        margin: 0px;
        font-size: 1.1rem;
        border: none;

        border: 1px solid rgba(255, 255, 255, 0.2);
        //border: 1px solid #777;
        //box-shadow: #777 0 0 $highlight-normal;

        text-align: center;
        background-color: rgba(37, 8, 8, 0.322);
        color: white;

        width: calc( 100% - 180px);

        &:hover, &:focus {
            background-color: rgba(37, 8, 8, 0.651);
        }
    }
    input[type='submit'] {
        float:right;
        cursor: pointer;
        width: 150px;
    }
}

@import 'vcard';
