
$color1: #ff8855;


body {
    font-family: 'Roboto', sans-serif;
    //font-family: 'Share Tech', sans-serif;
    //font-family: 'Share Tech Mono', monospace;
    //font-family: monospace;
    //color: #000000;
    //margin: 0px;
    //padding: 0px;
    //background-color: #111;
    text-align: center;
}

.background{
  .layer{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
  }
  .layer1{
    z-index: 10;
  }
  .layer2{
    z-index: 20;
    //background: url('./images/events/33692658_10155680999023590_4747848035172614144_n.jpg');
    //background: url('./images/events/23915683_1943247489329010_7075262240567444466_n.jpg');
    //background: url('./images/events/14947711_1778991995650932_1228791466977297790_n.jpg');
  
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    filter: blur(1px);
  }
}



* {
    //transition: all 0.2s ease-out;
}

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: Pointer;

    &:hover {
        color: $color1;
    }
}

/*
button,
.button,
input[type='submit'] {
    display: inline-block;
    border: none;
    padding: 0 10px;
    margin: 2px;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 3px;
    background-color: $color1;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $color1;
    }

    .fa {
        margin-right: 4px;
    }
}
*/

ul.clear {
    list-style: none;
    padding-left: 0;
}

.name {
  font-weight: normal;
}
.subname {
  font-weight: normal;
  span.meta {
      color: $color1;
  }
}

@import 'card';
@import 'vcard';
@import 'timeline';
@import 'contacts';
