body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #000000;
  margin: 0px;
  padding: 0px;

  background: url('/images/textures/norwegian_rose.png');
}


*{
  transition: all .3s ease-out;
}


a {

  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: Pointer;

  &:hover{
    color: #3d64ff;
  }

}

button, .button, input[type="submit"] {


  display: inline-block;
  border: none;
  padding: 0 10px;
  margin: 2px;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: #37beff;
  }

  .fa{
    margin-right: 4px;
  }

}



@import "about";
@import "contacts";
@import "personal-web";
