.items{


    border: 1px dotted red;

    display: flex;
    //justify-content: space-around;
    //flex-wrap: wrap;
}



.logoitem {


    filter: grayscale(100%);

    flex-grow: 1;


    cursor: pointer;


    border: 2px solid red;

    margin: 3px;



    animation: fadeInFromNone 1s ease-out;

    img{
        max-width: 30%;
    }


    h3{
        display: block;
        margin: 0;
        padding: 4px;
        //background-color: rgba(0, 0, 0, 0.3);

        vertical-align: middle;

    }





    //&.selected{
    &:hover{
        filter: grayscale(0%);
    }


    transition: all 0.1s ease-out;


}
