

body {


  /*
  //background-image: url("https://www.planwallpaper.com/static/images/Cool-Background-Wallpaper-Dekstop.jpg");
  //background-image: url("/media/images/backgrounds/fract.png");
  background-image: url("/media/images/backgrounds/d.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;


  //background-image: url("/media/images/backgrounds/whiteboard.jpg");
  //background-color: #fefefe;
*/



  //background: linear-gradient(0deg, #bbdcff, #cfffec);
  //background-attachment: fixed;
  color: #000;
  //text-shadow: rgb(112, 255, 110) 0px 0px 5px;



  text-align: center;

  min-height: 100vh;

  //border: 2px solid red;



  .personal-web {

    z-index: 2000;
    position: relative;

    margin-top: calc(5vh + 20px);



    display: inline-block;
    width: 100%;
    max-width: 800px;


    //background-color: #37beff;
    //border: 2px solid green;


    /*.items{
      font-size: 0;
    }*/



    .item {

      //font-size: 1rem;

      display: inline-block;
      width: 148px;
      height: 148px;

      overflow: hidden;
      cursor: pointer;


      //border: 2px solid red;
      box-shadow: black 0px 0px 5px;
      background-color: rgba(254, 255, 252, 0.51);
      margin: 5px;


      animation: fadeInFromNone 1s ease-out;





      h3{
        display: block;
        margin: 0;
        padding: 4px;
        //background-color: rgba(0, 0, 0, 0.3);

        vertical-align: middle;

      }


      //&.selected{
      &:hover{

        box-shadow: black 0px 0px 10px;
        /*z-index: 2;
        width: 156px;
        height: 156px;
        margin: 2px;*/


      }


      transition: all 0.1s ease-out;



      .type{

        display: inline-block;
        padding: 5px;
        border-radius: 3px;
        //background-color: rgba(255, 97, 168, 0.48);
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 0.08);
        //box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 10px;


        &.PROJECT{
            background-color: rgba(127, 182, 255, 0.3);
        }
        &.TALK{
            background-color: rgba(133, 255, 208, 0.3);
        }
        &.ARTICLE{
            background-color: rgba(133, 255, 208, 0.3);
        }
        &.WEB_APP, &.WEB_APPS{
            background-color: rgba(127, 182, 255, 0.3);
        }
        &.WEB_PAGE{
            background-color: rgba(127, 182, 255, 0.3);
        }
        &.WEB_GAME, &.WEB_GAMES{
            background-color: rgba(148, 151, 255, 0.3);
        }
        &.BOARD_GAME{
            background-color: rgba(148, 151, 255, 0.3);
        }
        &.DESKTOP_APP{
            background-color: rgba(127, 182, 255, 0.3);
        }
        &.MOBILE_APP{
            background-color: rgba(127, 182, 255, 0.3);
        }


      }



    }




    iframe{

      width: 100%;
      height: 500px;
      border: none;

      box-shadow: rgb(0, 0, 0) 0px 0px 10px;

    }

    @media screen and (max-width: 800px) {
      iframe{
        display: none;
      }
    }






    footer{

      ul {

        display: inline-block;

        border: 1px solid red;
        margin: 0;
        padding: 0;

        li{

          border: 1px solid red;
          list-style: none;

        }

      }


    }




  }

}


/*
.background {

  z-index: 1000;

  canvas, .code{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  .code{

    display: none;
    z-index: 100;

    .col{
      display: inline-block;
      //width: calc( 50vw - 400px - 20px );
      //background:red;
      word-wrap: break-word;
      padding: 0px;
    }

    .col.col1{
      float: left;
      text-align: left;
    }
    .col.col2{
      float: right;
      text-align: right;
    }
  }

  canvas{
    z-index: 200;
  }

}*/




@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}