
.card {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;

  //border-radius: 30px;

  width: 504px;
  min-height: 280px;
  background-color: #ffffff;

  text-align: center;

}

@media screen and (max-width: 520px), screen and (max-height: 500px) {

  .card {
    top: 130px;
    left: 0px;
    width: 100vw;
    min-height: calc( 100vh - 130px );
    transform: translate(0, 0);
    //overflow-y: visible;
  }

}

