ul.projects{
    //border: 1px dotted green;

    margin-top: 30px;
    margin-bottom: 30px;

    


    li.project{
        display: inline-block;
        width: calc(50% - 30px);


        //transform: rotate(random(5));




    }

  }