.timeline {
    @if $debug {
        border: 1px dotted red;
    }
    z-index: 100;
    text-align: center;

    .card {
        .inner {
            @include disable-select;

            display: block;
            border: 2px solid $color1;
            box-shadow: $color1 0 0 $highlight-normal;
            text-align: center;
            //width: 100%;
            margin: 20px;
            pointer-events: all;

            h3.name {
                background-color: rgba($color: #000000, $alpha: 0.6);
                //border: 1px solid red;
                margin: 0;
                padding: 15px;
                padding-top: 30px;
                padding-bottom: 30px;
            }

            &:hover {
                box-shadow: $color1 0 0 $highlight-selected;
                h3.name {
                    opacity: 0.8;
                }
            }
        }
    }

    @media all and (min-width: $timeline-width + 30px) {
        @import 'timeline-item';

        //display: inline-block;
        width: $timeline-width;
        position: absolute;
        //top: calc(10vh + 250px);
        transform: translate(calc(-50% + 50vw), 0);

        ul.events {
            margin-top: 30px;
        }
    }

    ul.events {
        @if $debug {
            border: 1px dotted red;
        }

        margin-bottom: 30px;

        .line {
            display: block;
            position: absolute;

            background-color: $color1;
            box-shadow: $color1 0 0 $highlight-normal;
            width: 2px;
            height: 2px;

            .label.label-above {
                margin-top: -25px;
                //margin-left: 25px;
                color: $color1;
            }

            .label.label-bellow {
                margin-top: 15px;
                //margin-left: 25px;
                color: $color1;
            }
        }

        .line.timeline-line {
            margin-left: 50%;
            height: 100%;
        }

        .circle {
            display: block;
            position: absolute;

            background-color: $color1;
            //border: 2px solid $color1;
            box-shadow: $color1 0 0 $highlight-normal;

            .label {
                margin-top: -2px;
                font-size: 1.3em;
                color: $color1;
            }
        }

        .circle.small {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            margin-top: -7.5px;
            margin-left: -7.5px;
        }

        .circle.big {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            margin-top: -10px;
            margin-left: -10px;
        }

        .year {
            @include disable-select;

            height: 70px;
            .circle {
                margin-left: calc(50% - 9px);
                //margin-top: -20px;
                .label {
                    transform: translate(-50%, 0);
                }
            }

            &.right {
                .circle {
                    .label {
                        margin-left: 30px;
                    }
                }
            }
            &.left {
                .circle {
                    .label {
                        margin-left: -30px;
                    }
                }
            }
        }

        @media not all and (min-width: $timeline-width + 30px) {
            .line,
            .circle,
            .label,
            .year {
                display: none;
            }
        }
    }
}
