.item {
    pointer-events: none;

    .card {
        .inner {
            margin-top: -30px;
            width: $card-width;
            margin: 0;
            &:hover {
                color: white;
            }
            h3.name {
            }
        }

        .skeleton-inner,
        .skeleton-inner-with-label {
            @include disable-select;
            .line {
                margin-top: 30px;
                .circle {
                }
            }
        }

        .skeleton-inner {
            .line {
                width: $timeline-width / 2 - $card-width - 7.5px;
            }
        }

        .skeleton-inner-with-label {
            //height: 40px;
            .line {
                width: $timeline-width - $card-width -
                    $card-project-line-inner-padding;
                margin-top: 50px;

                .label.label-above {
                }
                .circle {
                }
            }
        }

        @media not all and (min-width: $timeline-width + 2*$card-line-outer-width + 30px) {
            .skeleton-outer {
                display: none;
            }
        }

        @media all and (min-width: $timeline-width + 2*$card-line-outer-width + 30px) {
            .skeleton-outer {
                pointer-events: all;
                opacity: 0;
                pointer-events: none;

                .line {
                    margin-top: 30px;
                    width: $card-line-outer-width;

                    .circle {
                    }
                    .label-above {
                        @if $debug {
                            border: 1px dotted green;
                        }
                        position: absolute;
                        transform: translate(0, -100%);
                        margin-top: -10px; //todo to effects config
                        width: $card-line-outer-width -
                            $card-line-outer-inner-offset;
                        padding-bottom: 10px;

                        h1.name {
                            @if $debug {
                                border: 1px dotted green;
                            }
                            font-size: 1.7rem;
                            margin: 0;
                            padding: 0;
                        }
                        h2.subname {
                            @if $debug {
                                border: 1px dotted green;
                            }
                            font-size: 1.3rem;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .label.label-bellow {
                        @if $debug {
                            border: 1px dotted green;
                        }
                        position: absolute;
                        color: white;
                        //transform: translate(0,-100%);
                        margin-top: 10px; //todo to effects config
                        width: $card-line-outer-width -
                            $card-line-outer-inner-offset;
                        padding-top: 10px;

                        .abstract {
                            margin: 0;
                            @if $debug {
                                border: 1px dotted green;
                            }
                        }
                    }
                }
            }

            &.selected {
                .skeleton-outer {
                    opacity: 1;
                    pointer-events: all;
                    .line {
                        .circle {
                        }
                        .label-above {
                            margin-top: 0px;

                            h1.name {
                            }
                            h2.subname {
                            }
                        }
                        .label.label-bellow {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }

        &.selected {
            .circle,
            .line,
            .inner {
                box-shadow: $color1 0 0 $highlight-selected;
            }

            .inner {
                h3.name {
                    opacity: 0;
                }
            }
        }
    }

    &:nth-child(even) {
        .card {
            .skeleton-inner,
            .skeleton-inner-with-label {
                //border: 1px solid red;
                .line {
                    margin-left: $card-width + 2px;
                    .circle {
                        margin-left: calc(100% - 2px);
                    }
                }
            }

            /*.skeleton-inner-with-label {
                .line {
                    margin-left: $card-width;
                    .label.label-above {
                    }
                    .circle {
                        margin-left: calc(100% - 2px);
                    }
                }
            }*/

            .skeleton-outer {
                .line {
                    margin-left: 0px - $card-line-outer-width;

                    .circle {
                    }
                    .label-above {
                        h1.name {
                        }
                        h2.subname {
                        }
                    }

                    .label.label-bellow {
                    }
                }
            }
        }
    }

    &:nth-child(odd) {
        .card {
            .inner {
                margin-left: $timeline-width - $card-width - 7.5px; //- 26px;
            }

            .skeleton-inner {
                //border: 1px solid red;
                .line {
                    margin-left: $timeline-width/2;
                    .circle {
                    }
                }
            }

            .skeleton-inner-with-label {
                .line {
                    margin-left: $card-project-line-inner-padding - 7.5px;
                    .label.label-above {
                    }
                    .circle {
                    }
                }
            }

            .skeleton-outer {
                .line {
                    margin-left: $timeline-width - 4px;

                    .circle {
                        margin-left: calc(100% - 2px);
                    }
                    .label-above {
                        padding-left: $card-line-outer-inner-offset;
                        h1.name {
                        }
                        h2.subname {
                        }
                    }

                    .label.label-bellow {
                        padding-left: $card-line-outer-inner-offset;
                    }
                }
            }
        }
    }
}
