.timeline {
    //border: 1px dotted red;
    z-index: 100;
    display: inline-block;
    width: $timeline-width; 
    position: absolute;
    top: calc(10vh + 250px);
    transform: translate(-50%, 0);
    text-align: center;

    ul.events {
        border: 1px dotted red;

        margin-top: 60px;
        margin-bottom: 30px;

        .line {
            display: block;
            position: absolute;

            background-color: $color1;
            box-shadow: $color1 0 0 $highlight-normal;
            width: 2px;
            height: 2px;

            .label.label-above {
                margin-top: -25px;
                //margin-left: 25px;
                color: $color1;
            }

            .label.label-bellow {
                margin-top: 15px;
                //margin-left: 25px;
                color: $color1;
            }
        }

        .line.timeline-line {
            margin-left: 50%;
            height: 100%;
        }

        .circle {
            display: block;
            position: absolute;

            background-color: $color1;
            //border: 2px solid $color1;
            box-shadow: $color1 0 0 $highlight-normal;

            .label {
                margin-top: -2px;
                font-size: 1.3em;
                color: $color1;
            }
        }

        .circle.small{
            width: 15px;
            height: 15px;
            border-radius:15px;
            margin-top: -7.5px;
            margin-left: -7.5px;
        }

        .circle.big{
            width: 20px;
            height: 20px;
            border-radius:20px;
            margin-top: -10px;
            margin-left: -10px;
        }


        .year {
            @include disable-select;

            height: 70px;
            .circle {
                margin-left: calc(50% - 9px);
                //margin-top: -20px;
                .label {
                    transform: translate(-50%,0);
                }
            }

            &.right{
                .circle {
                    .label {
                        margin-left: 30px;
                    }
                }
            }
            &.left{
                .circle {
                    .label {
                        margin-left: -30px;
                    }
                }
            }
        }

        @import 'timeline-item';

    }
}
