
.vcard {
    

    border: 1px dotted orange;

    z-index: 100;

    .avatar {
        img {
            display: inline-block;
            width: 125px;
            height: 125px;
            max-width: 80%;
    
            border: 1px solid $color1; //todo to config
            border-radius: 1000px;
    
            padding: 3px;
            box-shadow: $color1 0 0 10px;
            //border: 2px solid black;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 12px;
        }
    }

    h1.name {
        //border: 1px dashed red;
        display: block;
        text-decoration: none;
        font-size: 2.48rem;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    h2.subname {
        display: block;
        font-size: 1.25em;
        margin-top: 5px;
    }

    //---------------------
}
