/*body {
    perspective: 800px;
    min-height: 100vh;
}*/

.vcard {
    position: absolute;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);


    border: 2px solid #008080;
    box-shadow: #008080 0 0 10px;
    //border: 1px solid #666666;

    //border-radius: 30px;

    width: 504px;
    height: 280px;

    text-align: center;

    background: url('./images/textures/norwegian_rose.png');
    background-position: center;

    //background: url('./images/front.png');
    //background-position: center;
    //background-size: cover;


    transform-origin: center center;
    transform: translate(-50%, -50%) rotateY(0deg);

    /*&:hover {
        transform: translate(-50%, -50%) rotateY(10deg);
    }*/

    //---------------------

    .avatar {
        img {
            display: block;
            margin: auto;
            margin-top: 23px;
            margin-bottom: 12px;

            width: 125px;
            height: 125px;
            max-width: 80%;

            border: 1px solid #008080;//todo to config
            border-radius: 1000px;

            padding: 3px;
            //box-shadow: black 0 0 5px;
            //border: 2px solid black;

            
        }
    }

    h1.name {
        //border: 1px dashed red;
        display: block;
        text-decoration: none;
        font-size: 2.48rem;
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    h2.subname{

        display: block;
        font-size: 1.25em;
        font-weight: normal;
        margin-top: 5px;

        span.meta{
          color: #008080;
        }

        //todo unused
        img{
            display: inline-block;
            margin-left: 4px;
            vertical-align: bottom;
            height: 1em;
        }
    }

    //---------------------
}

@media screen and (max-width: 520px), screen and (max-height: 500px) {
    .vcard {
        top: 130px;
        left: 0px;
        width: 100vw;
        min-height: calc(100vh - 130px);
        transform: translate(0, 0);
        //overflow-y: hidden;
    }
}
